<aside>
    <div class="ongoing-tournament side-card">
        <h3>Ongoing Tournament</h3>
        <hr>
        <p>Time Elapsed: </p>
        <p>Jump to Tournament</p>
        <a href="{{ url_for('views.tournaments') }}" class="jump-to-page">Jump to page &rightarrow;</a>
    </div>
    <div class="small-leaderboard-container side-card">
        <h3>Top Rated</h3>
        <hr>
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Full Name</th>
                    <th>Rating</th>
                </tr>
            </thead>
            <tbody>
                {% set index = namespace(value=0) %}
                {% for member in members %}
                    {% set index.value = index.value + 1 %}
                    <tr>
                        <td>{{ index.value }}</td>
                        <td>{{ member.full_name }}</td>
                        <td>{{ member.rating }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{{ url_for('views.leaderboard') }}" class="jump-to-page">Jump to page &rightarrow;</a>
    </div>
    <div class="user-lookup side-card">
        <h3>User Lookup</h3>
        <hr>
        <input type="text">
    </div>
</aside>