<header>
    <div class="logo-container">
        <img src="{{ url_for('static', filename='images/logo.jpg') }}" alt="logo">
    </div>
    <div class="menu-list-container">
        <ul class="menu-list">
            <li><a href="{{ url_for('views.index') }}">Home</a></li>
            <li><a href="{{ url_for('views.leaderboard') }}">Leaderboard</a></li>
            <li><a href="{{ url_for('views.tournaments') }}">Tournaments</a></li>
            {% if not current_user.is_authenticated %}
                <li><a href="{{ url_for('auth.login') }}">Login</a></li>
            {% else %}
                <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
            {% endif %}
        </ul>
    </div>
</header>