{% extends "base.html" %}

{% block content %}
    <div class="welcome-message">
        <h1>Welcome to IGS Chess Club</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum fugiat ipsum rerum et, unde ducimus dolor nemo non doloremque accusantium, incidunt nam? Harum debitis unde beatae, cumque saepe molestias dolorem.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis exercitationem deserunt non dolores, modi maxime at culpa ad eaque? Praesentium dolor aperiam officia esse? Quis facilis quaerat similique, hic eaque quasi eius perspiciatis, obcaecati quo tenetur autem, assumenda dignissimos aspernatur.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis, dicta consequuntur? Quam consequuntur, est cum exercitationem obcaecati fugiat quos dicta quae voluptatum, ea repudiandae aliquam a dolores beatae reiciendis enim cupiditate, consectetur nesciunt quia repellat et. Quibusdam quae, nesciunt rerum deserunt libero quasi asperiores, laboriosam omnis molestiae, possimus culpa dolore.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi consectetur aliquam odit tenetur nostrum nihil!</p>
    </div>
{% endblock content %}