:root {
	--maroon: #7d0a0a;
	--red: #bf3131;
}

* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
}

html {
	height: 100%;
}

body {
	padding-inline: 20px;
	height: 100%;
	display: flex;
	flex-direction: column;
}

header {
	padding: 10px;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

header .logo-container {
	margin-left: 30px;
	width: 70px;
	border-radius: 35px;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

header .logo-container img {
	width: 100%;
	border-radius: 35px;
}

header .menu-list-container {
	padding: 5px 20px;
	border-radius: 8px;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

header .menu-list {
	font-size: 16pt;
	font-weight: bold;
	display: flex;
	gap: 50px;
}

header .menu-list li {
	list-style: none;
}

header .menu-list li a {
	text-decoration: none;
	color: inherit;
}

footer {
	padding: 10px 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

main {
	padding: 10px;
	display: flex;
	flex: 1;
	gap: 50px;
}

main section {
	width: 100%;
}

main aside {
	width: 25%;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

main:has(aside) section {
	width: 75%;
}

.side-card {
	padding: 10px;
	border-radius: 10px;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
	display: flex;
	flex-direction: column;
	gap: 10px;
}

aside .jump-to-page {
	font-size: small;
	text-align: right;
}

aside table {
	margin-left: 10px;
	width: calc(100% - 20px);
	border-collapse: collapse;
	text-align: center;
}

aside th {
	min-width: 30px;
}

aside :is(table, th, td) {
	border: 1px solid gainsboro;
}

.welcome-message {
	display: flex;
	flex-direction: column;
	gap: 25px;
}

.welcome-message h1 {
	padding: 15px 0px 10px;
	font-size: 20pt;
}

.leaderboards-list {
	display: flex;
	gap: 10px;
}

.leaderboard-container {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.leaderboard-container table {
	width: 100%;
	border-collapse: collapse;
	text-align: center;
}

.leaderboard-container tbody tr.gold {
	background-color: gold;
}

.leaderboard-container tbody tr.silver {
	background-color: silver;
}

.leaderboard-container tbody tr.chocolate {
	background-color: chocolate;
}

.leaderboard-container :is(th, td) {
	padding: 3px 5px;
	white-space: nowrap;
}

.leaderboard-container th:nth-of-type(1) {
	width: 40px;
}

.leaderboard-container th:nth-of-type(2) {
	width: auto;
	text-align: left;
}

.leaderboard-container th:nth-of-type(3) {
	width: 0px;
}

.leaderboard-container tr td:nth-of-type(2) {
	text-align: left;
}

.leaderboard-container :is(table, th, td) {
	border: 2px solid gainsboro;
}

.pagination-container {
	display: flex;
	align-items: center;
	gap: 20px;
}

.pagination-container a {
	width: 30px;
	height: 30px;
	border-radius: 15px;
	background-color: gray;
	text-align: center;
}

.tournaments-container {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.create-tournament-button {
	width: 150px;
	height: 50px;
	border-radius: 15px;
	border: none;
	font-weight: bolder;
	background-color: lightgrey;
	cursor: pointer;
}

.tournaments-list-container {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.tournaments_list_item {
	padding: 20px 10px;
	width: 80%;
	height: 200px;
	background-color: var(--red);
	border-radius: 20px;
	display: flex;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

.tournaments_list_item_left {
	display: flex;
	flex-direction: column;
	gap: 10px;
	flex: 1;
}

.tournaments_list_item_right {
	text-align: right;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.tournaments_list_item_right_top .tournament-date-text {
	color: var(--maroon);
}

.tournaments_list_item_right_bottom {
	display: flex;
	flex-direction: column;
	gap: 10px;
	font-weight: bold;
	color: gold;
}

.tournaments_list_item_right_bottom .matching-system-text {
	font-size: small;
}

.tournaments_list_item_right_bottom .time-control-format-text {
	font-size: large;
}

.tournaments_list_item_right_bottom .time-control-type-text {
	font-size: x-large;
}

.create-tournament-submit {
	width: 150px;
	height: 40px;
	background-color: var(--red);
	border: none;
	border-radius: 20px;
	color: whitesmoke;
}

.tournament-standings {
	display: flex;
	justify-content: center;
	background-color: gainsboro;
	border-radius: 20px;
}

.tournament-standings table {
	margin-block: 20px;
	width: 90%;
	background-color: gray;
	/* border-collapse: ; */
}

.tournament-standings thead {
	background-color: var(--red);
}

.form-container {
	margin: auto;
	width: 250px;
	height: 350px;
	border: 1px solid black;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
